.adminTasks{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.admin-button{
    background-color: #A64938;
    border: none;
    color: #FFFFFF;
    font-size: 1rem;
    height: 2rem;
    width: 40%;
}

.admin-button:hover{
    background-color: #cf5a46;
    cursor: pointer;
}

#recipe-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#recipe-header button{
    align-self: end;
    height: 2rem;
    justify-self: end;
    margin-top: 0.5rem;
    width: 10rem;
}