h1{
    text-align: center;
}

header{
    background-color: #A64938;
    margin: 0 auto;
    padding: 1.5rem 0;
}

header a{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none !important;
}