h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

main{
    color: #A64938;
    line-height: 1.2rem;
    margin-bottom: 1rem;
}

#recipe-content{
    margin: 1rem auto;
    width: 80%;
}

#recipe-header img{
    max-height: 25rem;
    width: 100vw;
}

#recipe-header h2{
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.25rem;
    margin: 1rem auto;
    width: 80%;
}

.recipe-step{
    margin-top: 1rem;
}
